html, body {width: 100%; height: 100%;}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
a {color: rgba(17,41,63,1);}
a, a:visited, a:hover, a:visited:hover {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
  color: rgba(17,41,63,1);
}
h2 [class^="cal-icon-"] {
  font-size: 12px;
  vertical-align: 1px;
  padding-left: 10px;
}
img {max-width: 100%; height:auto;}

/* Alignment helpers */
.txt-right {text-align: right;}
.txt-center {text-align: center;}
.txt-left {text-align: left;}

/* List styles */
ul.pills {padding: 0}

ul.pills li {
  padding: 0.5em 1.5em;
  background: #f5f5f5;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 6px;
}

/* Quotes */
blockquote {
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 22px;
}
/**********************/
/* Button Styles */
/**********************/
.btn {border: 0;}
.btn.round {
  border-radius: 24px;
  border: 0;
}
button.toggle {
  background: #2861A2;
  font-size: 12px;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  vertical-align: 4px;
  color: #fff;
}
.btn-default {
    color: #fff;
    background-color: #0B4D75;
    border: 0;
}
.btn-default.focus,
.btn-default:focus {
    color: #fff;
    background-color: #31628d;
    border: 0;
}
.btn-default:hover {
    color: #fff;
    background-color: #31628d;
    border: 0;
}
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #31628d;
    border: 0;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #31628d;
    border: 0;
}
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color: #eee;
    border: 0;
}
.btn-default .badge {
    color: #fff;
    background-color: #333
}
.btn-primary {
    background-color: #ca2026;
}
.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #31628d;
    border: 0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #900;
    border: 0;
}
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #900;
    border: 0;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #900;
    border: 0;
}
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #eee;
    border: 0;
}
.btn-primary .badge {
    color: rgba(121,177,225, 1);
    background-color: #fff
}
.btn-success {
  color: #fff;
  background-color: rgba(92, 184, 92, 1);
  border-radius: 4px
}
.btn-success:hover {
  color: #fff;
  background-color: rgba(92, 184, 92, .8);
}

/**********************/
/* Login classes */
/**********************/
body.login {
  /* background-color: rgba(121,177,225, 1); */
  background: transparent url('../images/sf-b.jpg') bottom center no-repeat;
  background-size: cover;
}
#loginbox {
  width: 90%;
  height: 90%;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#loginbox .logo {
  text-align: center;
  padding: 20px 0 10px 0;
}
#loginbox .logo img {max-width: 80%;}
#loginbox .panel {
  border: 0;
  border-radius: 4px !important;
  margin: 0;
  box-shadow: 0 4px 50px rgba(30, 98, 160,0.9);
}
#loginbox .panel-body {
    padding: 25px;
}
#loginbox .form-group:last-child {margin-bottom: 0;}
#loginbox .input-group-addon {
  padding: 6px 22px;
  font-size: 16px;
  border-color: #9ECCF4;
  background-color: #79B1E1;
  color: #fff;
}
#loginbox .form-control {
  height: 56px;
  border-color: #9ECCF4;
  font-size: 18px;
}
#loginbox .input-group.tInput .input-group-addon {
  border-bottom-left-radius: 0;
  border-bottom: 0;
}
#loginbox .input-group.tInput .form-control {
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
#loginbox .input-group.bInput .input-group-addon {
  border-top-left-radius: 0;
}
#loginbox .input-group.bInput .form-control {
  border-top-right-radius: 0;
}

#loginbox #btn-login {
  margin-top: 20px;
}
#loginbox .checkbox {
  padding-top: 20px;
}
#loginbox .checkbox label {
  text-transform: uppercase;
  font-weight: 700;
  color: #79B1E1;
  text-shadow: none;
}
#main-content {
  background: url(../images/background.png) top center repeat-x;
}
#main-content #page {
  background: none;
  padding-top: 10px;
}
/* Panel Styles */
#main-content #page .panel.highlight {
  background: #445EA9;
  padding: 2em;
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
#main-content #page .panel.highlightBlue,
#main-content #page .panel.highlightGold,
#main-content #page .panel.highlightGray {
  padding: 2em;
  box-shadow: none;
  border: 0;
}
#main-content #page .panel.highlightBlue {
  background: #EEF1F5;
}
#main-content #page .panel.highlightGold {
  background: #E4DACB;
}
#main-content #page .panel.highlightGray {
  background: #f5f5f5;
}
.page-header h1 {
      margin-top: 0;
}
#logo{margin-top: 15px;}
#logo img {
  margin: 0 20px 0 0;
  line-height: 20px;
  display: inline-block;
}
#logo span {
  color: #0B4D75;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}
#main-nav-container {
    background-color: #0B4D75;
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: 0;
  }

/**********************/
/* Utility classes */
/**********************/
.grayBG {
  background: #f5f5f5;
}
.grayBGdark {
  background: #999;
}
.graybox {
  background-color: #f2f2f2;
  padding: 20px;
}
.lt-gray {
  background: #eee;
}
.wht-smoke {
  background: #f5f5f5;
}
.blue {
  color: #0B4D75;
}
.red {
  color: #ca2026;
}
.gold {
  color: #B3A786;
}
.gray {
  color: #C2C5BF;
}

.formCard {
  margin-left: -5px;
  margin-bottom: 10px;
}
input[required] {
  border-left: 4px solid #CA2026;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 8px;
}
.indicator {
  display: inline-block;
  width: 3px;
  height: 15px;
  background-color: #CA2026;
  vertical-align: -2px;
}

/* Progress bars */
.progress {height: auto;}
.progress .progress-bar {
  font-size: 16px;
  font-weight: bold;
  padding: .75em;
  background-color: #0B4D75;
}
/* Join Form */
#join_SFDCLabs label {display: block;}
#join_SFDCLabs label[class="radio-inline"] {display: inline-block;}
.planname {
  font-size: 22px;
  font-weight: bold;
}


.header-classic,.header-plus,.header-prem {
  font-size: 18px;
}
.header-classic {
  color: #445EA9;
  border-bottom: 4px solid #445EA9;
  padding-bottom: 4px;
}
.header-plus {
  color: #B3A786;
  border-bottom: 4px solid #B3A786;
  padding-bottom: 4px;
}
.header-prem {
  color: #C2C5BF;
  border-bottom: 4px solid #C2C5BF;
  padding-bottom: 4px;
}

/**********************/
/* Utility & Main Nav */
/**********************/
#utility-navigation .btn.round {
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 10px;
}
#utility-nav-container {
  min-height: 20px;
  border-radius: 0;
  border: 0;
  background-color: #F2F2F2;
  margin-bottom: 15px;
}
#utility-nav-container .navbar-toggle {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px 0;
}
#utility-nav-container .navbar-toggle:after {
  content: '';
  display: table;
  clear: both;
}
#utility-nav-container .navbar-toggle [class="cal-icon-"]
.navbar-toggle .nav-menu-text {
  position: absolute;
  top: 8px;
  right: 50px;
  line-height: 1em;
  width: 120px;
  text-align: right;
}
#main-navbar .nav>li>a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: inherit;
    border-color: inherit;
}
.dropdown-menu {
  font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 2px 6px rgba(0,0,0,.175);
}
/************************************/
/* Hero Username, Search & Icon Nav, Search rResults */
/************************************/
#hero {
  padding: 0;
  background-color: rgba(121,177,225, 1);
}
#hero p {margin: 0;}
#search-results-header {
  padding: 0;
  background-color: rgba(17,41,63, 1);
}
#search-results-header #main-search {
  padding: 24px 0 30px 0;
}
#search-results-header #main-search .list-inline>li>a {
  color: rgba(242,242,242,.4);
  text-transform: uppercase;
  font-size: 14px;
}
#search-results-header #main-search .list-inline li.active a {
  color: rgba(242,242,242,.9);
}
#search-results-list {
  padding-top: 24px;
  padding-bottom: 24px;
}
#search-results-list #search-results-list-header {
  margin-bottom: 20px;
}
#search-results-list .search-text {

}
#search-results-list .search-text .highlight {
  color: rgb(242, 179, 0);
  font-weight: 700;
  padding-left: 6px;
  padding-right: 6px;
}
#search-results-list .form-control {
  height: 24px;
  padding: 6px 12px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
#search-results-list .control-label {
  font-weight: 400;
  margin-bottom: 0;
}
#search-results-list h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
#search-results-list h4 {
  margin-top: 4px;
  margin-bottom: 0;
}
#search-results-list #search-results-list-items .item .product,
#search-results-list #search-results-list-items .item .type,
#recent-searches table a {
  color: rgba(121,177,225, 1);
  font-weight: 600;
}
#recent-searches table.gray-header {
  border-top: 5px solid rgba(121, 177, 225, 1);
}
#recent-searches table.gray-header thead tr {
  background-color: rgba(244,244,244,1);
}
/**************************************/
/* Main Search form placeholder color */
/**************************************/
#search-results-header #main-search .form-control {
  height: 44px;
  padding: 6px 12px;
}
#search-results-header #main-search .form-control::-moz-placeholder {
    color: #11293F;
    font-weight: 600;
    opacity: 1
}

#search-results-header #main-search .form-control:-ms-input-placeholder {
    color: #11293F;
    font-weight: 600;
}

#search-results-header #main-search .form-control::-webkit-input-placeholder {
    color: #11293F;
    font-weight: 600;
}
#case-load {
  font-size:.9em;
  font-weight: 600;
  background-color: rgba(90,132,172,.25);
  padding: .5em 1em;
  margin: 0 -15px;
}
#search {background-color: #f2f2f2;padding: 0; }
#search-container {
  padding-top: 0;
}
#search-container #username {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}
#search-container #username span {
  font-weight: 700;
}
/* Search Form */
#search-container #search-form,
#search-results-header #main-search #main-search-form {width: 100%;}
#search-results-header #main-search #main-search-form input {
  font-size: 16px;
}
#search-container #search-form .btn {
  color: rgba(0,0,0,1);
  padding: 11px 9px 3px 9px;
  background-color: white;
  border-radius: 0;
}
#search-results-header #main-search #main-search-form .btn {
  color: rgba(0,0,0,1);
  padding: 14px 16px 10px 9px;
  background-color: white;
  border-radius: 0;
}
#search-container #search-form .btn [class^="cal-icon-"] {
  font-size: 1.5em;
  line-height: .2em;
}
#search-results-header #main-search #main-search-form .btn [class^="cal-icon-"] {
  font-size: 1em;
  line-height: .2em;
}
#search-container #search-form .btn:hover,
#search-results-header #main-search #main-search-form .btn:hover {color: rgba(17,41,63,.5);}
#search-container #srch-term,
#search-results-header #main-search #main-search-form #main-search-term {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

#case-load,
#case-icon-nav,
#case-icon-nav a,
#case-icon-nav a:visited {
  color: rgba(69,109,143,1);
}
#case-icon-nav li {
  border-right: 2px solid rgba(69,109,143,.12);
  border-bottom: 2px solid rgba(69,109,143,.12);
  text-align: center;
  padding: 1em 6px;
  margin: 0;
}
#case-icon-nav li:nth-child(-n+3) {margin-top:4px;}
#case-icon-nav li:nth-last-child(-n+3) {border-bottom:0;margin-bottom:4px;}
#case-icon-nav li:first-child {
  border-left: 2px solid rgba(69,109,143,.12);
}
#case-icon-nav li.active {
  background-color: rgba(69,109,143,.12);
  border-color: transparent;
}
#case-icon-nav li.active a {color: rgba(255,255,255,1); }
#case-icon-nav li.active a:hover {color: rgba(255,255,255,.5);}
#case-icon-nav a {
  display: block;
}
#case-icon-nav a:hover,
#case-icon-nav a:active,
#case-icon-nav a:focus {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

#case-icon-nav p {
  display: inline-block;
  font-size: 12px;
  line-height: 1em;
  text-align: left;
}
#case-icon-nav p.single-line {
    vertical-align: 5px;
}
#case-icon-nav [class^="cal-icon-"] {
  display: block;
  font-size: 30px;
  margin-bottom: 4px;
}
#case-icon-nav [class^="cal-icon-"].reduced {
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 10px;
}
#case-icon-nav .case-notification {
  display: inline-block;
  font-size: 29px;
  font-weight: 600;
  line-height: 1.2em;
  text-align: left;
}
/***************************/
/* Alert Section */
/***************************/
#alert {
  background-color: #FFDD49;
  padding:4px 0; 
}
#alert p {
  margin: 0;
  text-transform: uppercase;
}

/***************************/
/* CTA Section */
/***************************/
#cta {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#cta .btn {
  width: 100%;
  font-size: 1.25em;
  text-transform: uppercase;
  padding: 20px 1em;
  border-bottom: 2px solid rgba(242,242,242, .1);
}
#cta .btn [class^="cal-icon-"] {
  vertical-align: -3px;
  font-size: 1.2em;
}
/***************************/
/* Updates Section */
/***************************/
#task-list {}
#task-list .task-legend li a {
  color: rgba(17,41,63,.6);
}
/* #update-articles {margin-left: -8px;} */
.owl-carousel .item.thumbnail {
  background-color: #f2f2f2;
  border: 0;
  border-radius: 0;
  margin: 0 8px;
  padding: 1.5em;
  min-height: 180px;
}
/***************************/
/* Footer Section */
/***************************/
#footer {
  background-color: #fff;
  padding: 20px 0;
}
#footer h4 {margin-top: 0;color:rgba(216,216,216,1);font-size: 14px;}
#footer > *,
#footer a {
  color: #777;
  font-size: 12px;
}
#footer a:hover {color:#31628d;}
#footer #colophon {display: inline-block;margin-top: 10px;}

/***************************/
/* Calypso Icon font */
/***************************/
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-qv87xu');
  src:url('fonts/icomoon.eot?#iefix-qv87xu') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-qv87xu') format('truetype'),
    url('fonts/icomoon.woff?-qv87xu') format('woff'),
    url('fonts/icomoon.svg?-qv87xu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cal-icon-"], [class*=" cal-icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cal-icon-config:before {
  content: "\e600";
}
.cal-icon-development:before {
  content: "\e601";
}
.cal-icon-home:before {
  content: "\e602";
}
.cal-icon-linkarrow:before {
  content: "\e603";
}
.cal-icon-needinfo:before {
  content: "\e604";
}
.cal-icon-opencase:before {
  content: "\e605";
}
.cal-icon-openfolder:before {
  content: "\e606";
}
.cal-icon-pending:before {
  content: "\e607";
}
.cal-icon-projectmanage:before {
  content: "\e608";
}
.cal-icon-search:before {
  content: "\e609";
}
.cal-icon-underway:before {
  content: "\e60a";
}
.cal-icon-user:before {
  content: "\e60b";
}
.cal-icon-download:before {
  content: "\e60c";
}

/* Block Grid - From Foundation :) */
[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -15px; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 15px; }

.xs-block-grid-1 > li {
  list-style: none;
  width: 100%; }
  .xs-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

.xs-block-grid-2 > li {
  list-style: none;
  width: 50%; }
  .xs-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

.xs-block-grid-3 > li {
  list-style: none;
  width: 33.33333%; }
  .xs-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

.xs-block-grid-4 > li {
  list-style: none;
  width: 25%; }
  .xs-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

.xs-block-grid-5 > li {
  list-style: none;
  width: 20%; }
  .xs-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

.xs-block-grid-6 > li {
  list-style: none;
  width: 16.66667%; }
  .xs-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

.xs-block-grid-7 > li {
  list-style: none;
  width: 14.28571%; }
  .xs-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

.xs-block-grid-8 > li {
  list-style: none;
  width: 12.5%; }
  .xs-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

.xs-block-grid-9 > li {
  list-style: none;
  width: 11.11111%; }
  .xs-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

.xs-block-grid-10 > li {
  list-style: none;
  width: 10%; }
  .xs-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

.xs-block-grid-11 > li {
  list-style: none;
  width: 9.09091%; }
  .xs-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

.xs-block-grid-12 > li {
  list-style: none;
  width: 8.33333%; }
  .xs-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .xs-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; }

/* BLock Grid - Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #case-icon-nav[class*="block-grid-"] {
    margin: 0 auto;
  }
  #case-icon-nav[class*="block-grid-"] li {
    padding: 6px 0;
  }
  
  .sm-block-grid-1 > li {
  list-style: none;
  width: 100%; }
  .sm-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .sm-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .sm-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .sm-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .sm-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .sm-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .sm-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .sm-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .sm-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .sm-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .sm-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .sm-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .sm-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .sm-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .sm-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .sm-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .sm-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .sm-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .sm-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .sm-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .sm-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .sm-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .sm-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .sm-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .sm-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }
}
/* BLock Grid - Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .md-block-grid-1 > li {
  list-style: none;
  width: 100%; }
  .md-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .md-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .md-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .md-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .md-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .md-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .md-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .md-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .md-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .md-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .md-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .md-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .md-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .md-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .md-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .md-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .md-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .md-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .md-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .md-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .md-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .md-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .md-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .md-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .md-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }
}

/* BLock Grid - Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .lg-block-grid-1 > li {
  list-style: none;
  width: 100%; }
  .lg-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .lg-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .lg-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .lg-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .lg-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .lg-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .lg-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .lg-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .lg-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .lg-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .lg-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .lg-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .lg-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .lg-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .lg-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .lg-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .lg-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .lg-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .lg-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .lg-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .lg-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .lg-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .lg-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .lg-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .lg-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }
}



/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  #utility-nav-container .navbar-toggle > * {
    color: #999;
  }

}
@media only screen and (max-width: 480px) {
  .xs-marB20 {
    margin-bottom: 20px;
  }
 .xs-centered {text-align: center;margin-top: 20px;}
  #task-list {
    padding: 0;
  }
  .dropdown-menu {
    left: 0 !important;
    min-width: 100%;
  }
}
@media only screen and (max-width : 768px) {
  #utility-nav-container .navbar-toggle [class^="cal-icon-"] {
    font-size: 10px;
    margin-left: 4px;
  }
  #utility-navbar {
    width: 100%;
  }
  #username.visible-xs {
    float: left;
    margin: 5px 0 0 10px;
  }
  #username.visible-xs:after {
    content:'';
    display: table;
    clear: both;
  }
  #logo {float: none;text-align: center;}
  #logo img {width: 200px !important; height: auto;}
  #main-header #main-nav-bar {
    margin-bottom: 0;
  }

  #main-nav {
    background-color: #0B4D75;
  }
  #main-nav-container {
    min-height: auto;
    border: 0;
  }
  #main-navbar .nav>li>a:hover,
  .nav>.dropdown>a {
  	color: #fff;
    background:#0B4D75;
  }
  #main-nav .navbar-toggle {
    margin-right: 0;
    padding: 4px 0;
  }
  #main-nav .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
  }
  .yamm .yamm-content {
    padding: 0px 15px;
    color: white;
  }
  .yamm .yamm-content a {
  	color: #fff;
  }
  #task-list h4 {
    font-weight: 400;
    font-size: 14px;
  }
  #footer #colophon span.visible-sm,
  #footer #colophon span.visible-xs {height: 0;}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #loginbox {
    width: 450px;
    height: 380px;
  }
  .sm-marB20 {
    margin-bottom: 20px;
  }
  .sm-mart20 {
    margin-top: 20px;
  }
  #search-results-list .search-text {
    vertical-align: middle;
  }
  .navbar-collapse.collapse {padding-right: 0;}
  #utility-navigation {margin: 20px 0 0 0;}
  #utility-navbar .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border-right: 1px solid rgba(69,109,143,.12);
  }
  .navbar-header {
    float: none;
  }
  /* Header */
  
  #main-nav-container {
    background-color: #0B4D75;
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #main-nav {
    font-family: Oswald, sans-serif;
    font-weight: normal;
  }
  #main-navbar {
    padding: 0;
    margin: 0;
    line-height: 1.8;
  }
  #main-navbar .nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-left: 1px solid rgba(255,255,255,.2);
  }
  #main-navbar .nav>li:last-child>a {
    border-right: 1px solid rgba(255,255,255,.2);
  }
  #main-navbar .nav>li.active>a,
  #main-navbar .nav>li>a:hover,
  #main-navbar .nav>li>a:focus {
    color: #f5f5f5;
    background-color: transparent;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  #search {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #search-container {padding-top: 11px;}
  #search-container #search-form {
    width: 90%;
  }
  #search-results-header {
    padding: 0;
    background-color: rgba(17,41,63, 1);
  }
  #search-results-header #main-search .list-inline>li>a {
    color: rgba(242,242,242,.4);
    text-transform: uppercase;
    font-size: 14px;
  }
  #case-icon-nav li {
    border-right: 2px solid rgba(69,109,143,.12);
    border-bottom: 0;
    text-align: center;
    padding: 1em 1.5em;
    margin: 4px 0;
  }
  #case-load {
    margin: 0 auto;
  }
  #cta {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }
  #cta .btn {
    border-bottom:0;
    margin-bottom: 20px;
  }
  h2 [class^="cal-icon-"] {
    font-size: 12px;
    vertical-align: 3px;
    padding-left: 10px;
  }
  #footer {
    padding: 40px 0;
  }
  #footer h4 {margin-top: 0;color:rgba(216,216,216,1);font-size: 18px;}
}
@media (max-width: 991px) and (min-width: 768px) {
  #footer #colophon span.visible-sm,
  #footer #colophon span.visible-xs {height: 0;}
  
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .md-marB20 {
    margin-bottom: 20px;
  }

  #search {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #main-navbar .nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
  }
}