<div id="main-content" role="main" itemprop="mainContentOfPage">
		  	<section>
			<div id="page" class="container">
				<div class="page-header">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<h1 class="blue">Join NOW</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12 sm-marB20">
						<div class="panel panel-default">
	  						<div class="panel-body">
	  							<div class="row">
		  							<div class="col-xs-12 col-md-12 sm-marB20">
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
											Your Info
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-md-12 sm-marB20">
										<form id="join_SFDCLabs" class="form-horizontal">
											<fieldset>
												<div class="row">
													<div class="col-xs-12 col-md-8">
														<h3>Your Name</h3>
														<hr>
														<div class="form-group">
															<label for="prefix" class="col-sm-2 control-label">Prefix</label>
															<div class="col-sm-2">
																<select class="form-control" id="prefix">
																	<option value="">Select</option>
																	<option value="Mr">Mr</option>
																	<option value="Mrs">Mrs</option>
																	<option value="Ms">Ms</option>
																	<option value="Dr">Dr</option>
																	<option value="Rev">Rev</option>
																	<option value="Sr">Sr</option>
																	<option value="Fr">Fr</option>
																	<option value="Hon">Hon</option>
																	<option value="Maj">Maj</option>
																	<option value="LT">LT</option>
																	<option value="1LT">1LT</option>
																	<option value="2LT">2LT</option>
																	<option value="Col">Col</option>
																	<option value="Crp">Crp</option>
																	<option value="Cdr">Cdr</option>
																	<option value="Ens">Ens</option>
																	<option value="Adm">Adm</option>
																	<option value="Bgn">Bgn</option>
																	<option value="Gen">Gen</option>
																	<option value="Sgt">Sgt</option>
																	<option value="MSt">MSt</option>
																	<option value="Ltc">Ltc</option>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label for="firstname" class="col-sm-2 control-label">First Name</label>
															<div class="col-sm-8">
																<input type="txt" class="form-control" id="firstname" required>
															</div>
														</div>
														<div class="form-group">
															<label for="mi" class="col-sm-2 control-label">MI</label>
															<div class="col-sm-2">
																<input type="txt" class="form-control" id="mi">
															</div>
														</div>
														<div class="form-group">
															<label for="lastname" class="col-sm-2 control-label">Last Name</label>
															<div class="col-sm-8">
																<input type="txt" class="form-control" id="lastname" required>
															</div>
														</div>
														<div class="form-group">
															<label for="prefix" class="col-sm-2 control-label">Prefix</label>
															<div class="col-sm-2">
																<select class="form-control" id="prefix">
																	<option value="">Select</option>
																	<option value="JR">JR</option>
																	<option value="MD">MD</option>
																	<option value="SR">SR</option>
																	<option value="USN">USN</option>
																	<option value="SGT">SGT</option>
																	<option value="RN">RN</option>
																	<option value="DDS">DDS</option>
																	<option value="ENS">ENS</option>
																	<option value="ESQ">ESQ</option>
																	<option value="2nd">2nd</option>
																	<option value="3rd">3rd</option>
																	<option value="RET">RET</option>
																	<option value="DVM">DVM</option>
																	<option value="LPN">LPN</option>
																	<option value="RTD">RTD</option>
																	<option value="DMD">DMD</option>
																	<option value="OD">OD</option>
																	<option value="PA">PA</option>
																	<option value="PhD">PhD</option>
																	<option value="OS">OS</option>
																	<option value="CPA">CPA</option>
																	<option value="DAV">DAV</option>
																	<option value="I">I</option>
																	<option value="II">II</option>
																	<option value="III">III</option>
																	<option value="IV">IV</option>
																	<option value="V">V</option>
																	<option value="IX">IX</option>
																	<option value="DD">DD</option>
																	<option value="OSF">OSF</option>
																	<option value="DC">DC</option>
																	<option value="DPM">DPM</option>
																	<option value="DO">DO</option>
																	<option value="OP">OP</option>
																	<option value="FMA">FMA</option>
																</select>
															</div>
														</div>
														<h3>Additional Member(s)</h3>
														<hr>
														<div class="row">
															<div class="col-sm-9">
																<p>Number of <a href="#" class="blue" data-toggle="modal" data-target=".additional-members"><strong>eligible</strong></a> members to add to your membership.<br>
															First add'l member is <span class="red">FREE for the first year</span></p>
															</div>
															<div class="col-sm-3">
																<select class="form-control" id="prefix">
																	<option selected="selected" value="0">Please Select</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																</select>
															</div>
															<div class="modal fade additional-members" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
																<div class="modal-dialog modal-sm">
																	<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">×</span>
																			</button>
																			<h4 class="modal-title" id="mySmallModalLabel">Additional Family Members (Associates) Eligibility Requirements</h4>
																		</div>
																		<div class="modal-body">
																			Associate memberships are available to the Primary Member’s spouse and one other adult living in the household; and their children living at the same residence or away at school.
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<h3>Contact Information</h3>
														<p>We will send your Membership Kit to this address.</p>
														<hr>
														<div class="form-group">
															<label for="streetAddress" class="col-sm-2 control-label">Street Address</label>
															<div class="col-sm-8">
																<input type="txt" class="form-control" id="streetAddress" required>
															</div>
														</div>
														<div class="form-group">
															<label for="aptUnit" class="col-sm-2 control-label">Apt/Unit #</label>
															<div class="col-sm-8">
																<input type="txt" class="form-control" id="aptUnit">
															</div>
														</div>
														<div class="form-group">
															<label for="city" class="col-sm-2 control-label">City</label>
															<div class="col-sm-8">
																<input type="txt" class="form-control" id="city" required>
															</div>
														</div>
														<div class="form-group">
															<label for="state" class="col-sm-2 control-label">State</label>
															<div class="col-sm-2">
																<select class="form-control" id="state">
																	<option selected="selected" value="FL">FLORIDA</option>
																	<option value="GA">GEORGIA</option>
																	<option value="IA">IOWA</option>
																	<option value="IL">ILLINOIS</option>
																	<option value="IN">INDIANA</option>
																	<option value="MI">MICHIGAN</option>
																	<option value="MN">MINNESOTA</option>
																	<option value="ND">NORTH DAKOTA</option>
																	<option value="NE">NEBRASKA</option>
																	<option value="PR">PUERTO RICO</option>
																	<option value="TN">TENNESSEE</option>
																	<option value="VA">VIRGINIA</option>
																	<option value="WI">WISCONSIN</option>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label for="email" class="col-sm-2 control-label">Email</label>
															<div class="col-sm-8">
																<input type="email" class="form-control" id="email" required>
															</div>
														</div>
														<div class="form-group">
															<label for="emailConfirm" class="col-sm-2 control-label">Confirm Email</label>
															<div class="col-sm-8">
																<input type="email" class="form-control" id="emailConfirm" required>
															</div>
														</div>
														<div class="form-group">
															<label for="phone" class="col-sm-2 control-label">Home Phone</label>
															<div class="col-sm-8">
																<input type="tel" class="form-control" id="phone" required>
															</div>
														</div>
														<hr>
														<span class="help"><i class="indicator"></i><a href=""> = denotes required field</a></span>
													</div>
													<div class="col-xs-12 col-md-4">
														<h3>Selected Membership</h3>
														<hr>
														<img class="formCard" src="images/SFDCLabs-classic-card-small.png">
														<h4>SFDCLabs Classic</h4>
														<div class="row">
																<div class="col-xs-8 col-md-8">
																	<p>1st Member:</p>
																</div>
																<div class="col-xs-4 col-md-4">
																	<p>₹66</p>
																</div>
															</div>
															<div class="row">
																<div class="col-xs-8 col-md-8">
																	<p>1st Additional Member:</p>
																</div>
																<div class="col-xs-4 col-md-4 red">
																	<p>1st Year FREE</p>
																</div>
															</div>
															<div class="row">
																<div class="col-xs-8 col-md-8">
																	<p>Each Additional Member:</p>
																</div>
																<div class="col-xs-4 col-md-4">
																	<p>₹15</p>
																</div>
															</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-md-12">
														<hr>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 col-md-6">
														<a class="btn btn-default grayBGdark" href="join-member-choice.html">Back</a>
													</div>
													<div class="col-xs-12 col-md-6 txt-right">
														<a class="btn btn-default" href="join-member-payment.html">Continue</a>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		</div>
