<div id="main-content" role="main" itemprop="mainContentOfPage">
		  	<section>
			<div id="page" class="container">
				<div class="page-header">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<h1 class="blue">Join NOW</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12 sm-marB20">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Tell us what prompted you to become a SFDCLabs Membership member:</h3>
							</div>
							<div class="panel-body">
								<form>
									<fieldset>
										<div class="radio">
											<label>
												<input type="radio" name="joinList" id="joinList_1" value="mail">
												 Mailing to Home
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="joinList" id="joinList_2" value="internet">
												Surfing the Internet
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="joinList" id="joinList_3" value="referred">
												Referred by another member
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="joinList" id="joinList_4" value="internet">
												Other
											</label>
										</div>
										<a class="btn btn-default" href="/join/<%= params[:tier] %>">Continue</a>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		</div> <!-- /main -->
